@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Merhaba</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">bu site doctor ve hasta arasında randevu alabılmek için bir sistem</a>.</p>
</div>
